/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .page-header {
   text-align: center;
   background-color: black;
   color: white;
   font-weight: bold;
 }

.user-info {
  text-align: center;
  padding: 30px;
}

.user-info h1 {
  font-size: 24px;
}

.user-info hr {
  margin: 0;
}

.button {
  background-color: white;
  transition: box-shadow 0.2s, ease;
  color: black;
  border: .1em solid black;
  margin: 20px;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  transition: box-shadow 0.2s, ease;
}

.input-container {
}
