/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .page-header {
   text-align: left;
   background-color: #262626;
   color: white;
   font-weight: bold;
   padding-left: 10px;
 }

 .page-header h1 a {
   color: white;
   font-family: 'Knewave', cursive;
   transition: color 0.2s, ease;
 }

 .page-header h1 a:hover {
   color: #f2f2f2;
   font-family: 'Knewave', cursive;
   transition: color 0.2s, ease;
 }

.page-links {
  text-align: right;
}

.user-info {
  text-align: center;
  padding: 30px;
}

.user-info h1 {
  font-size: 24px;
}

.user-info hr {
  margin: 0;
}

.session-info {
  text-align: center;
  padding: 30px;
}

.session-info a {
  font-size: 20px;
  color: black;
  transition: color 0.2s, ease;
}

.session-info a:hover {
  font-size: 20px;
  color: #8c8c8c;
  transition: color 0.2s, ease;
}

.button {
  background-color: white;
  transition: box-shadow 0.2s, ease;
  color: black;
  border: .1em solid black;
  margin: 20px;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  transition: box-shadow 0.2s, ease;
}

.top-links {
  background-color: white;
  font-size: 14px;
  color: black;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
}

.top-links:hover {
  background-color: #f2f2f2;
  color: black;
  transition: background-color 0.2s, ease;
  transition: color 0.2s, ease;
}

.user-profile {
  color: #0074D9;
}

.sign-out {
  color: #FF4136;
}

.add-picture {
  color: #2ECC40;
}

.image-info {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 5px;
}

.image-info a {
  color: black;
}

.index-image {
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.show-image {
  margin-top: 20px;
}
.show-image-info {
  padding: 50px;
  text-align: right;
}

#error_explanation {
  background-color: #f2f2f2;
  padding: 10px;
}

#error_explanation h2 {
  font-size: 18px;
  font-weight: bold;
}

#error_explanation li {
  list-style: none;
}
